<%= link_to "Sweets Index", sweets_path %></br>
<%= link_to "Vendors Index", sweets_path %>

<h1>Vendor Sweets</h1>
<h1>Let's Create a New VendorSweet </h1>

<%= link_to "Create Vendor Sweet", new_vendor_sweet_path %>


