<h1>🍬 🍬 🍬 WELCOME TO OUR CANDY KINGDOM🍬 🍬 🍬</h1><br><br>

<%= button_to "Explore Our Sweets", sweets_path, method: :get %><br>
<%= button_to "Meet our Vendors", vendors_path, method: :get %> <br><br>

<%= image_tag("candy_kingdom.jpg", :alt => "Candy Kingdom Welcome Picture") %>
