<%= render 'header' %>

<h1>All Vendors</h1>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor %></li>
  <% end  %>
</ul>
<br>
<%= link_to "List New Sweet for Sale", new_vendor_sweet_path %>
