<%= render "/vendor_sweets/nav" %> <br><br>

<h1>All Vendors</h1>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor %></li>
  <% end %>
</ul>

<br>
<%= link_to "Create a new Vendor!", new_vendor_path %>
