<h1>All Vendors</h1>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to "#{vendor.name.titleize}", vendor %></li>
  <% end  %>
</ul>

<%= button_to "Make a New Vendor", new_vendor_path, method: :get %>

<%= button_to "Create Stock For Vendor", new_stock_path, method: :get %>


<%= button_to "Back to Sweets", sweets_path, method: :get %>