<h1><%= @vendor.name %></h1>


<ul>
  <%# @vendor.vendorsweets.each do |vendor| %>
    <li><%# vendor.sweet %></li>
  <%# end  %>
</ul>

<!-- #Display all the cookies
#Get all cookies of the specific vendor via the joiner.
#Iterate through that joiner to display the sweets name and price for that vnedor. -->
