<h1> <%= @vendor.name %> </h1>

Sweets

<ul>
  <% @vendor.sweets.each do |sweet| %>
  <li><%= link_to sweet.name, sweet_path(sweet) %></li>
  <% end %>
</ul>

<%= link_to "Return to Vendors", vendors_path %>
