<%= render 'header' %>

<h1> <%= @vendor.name%>:</h1><br>

<p><strong>Here are all the sweets you can get from this vendor:</strong>
<ul>
<% @vendor.sweets.each do |s| %>
  <li><%=link_to s.name, @sweet_path(s)%></li>
  <% end %>
</ul>
<br>
