<h1>All Sweets</h1>

<ul>
  <% @sweets.each do |sweet| %>
    <li><%= link_to "#{sweet.name}", sweet %></li>
  <% end  %>
</ul>

<%= button_to "Create Stock For Vendor", new_stock_path, method: :get %>

<%= button_to "Back to Vendor", vendors_path, method: :get %>