<h1><%="#{@sweet.name}"%></h1>

<h2>List of Vendors</h2>

<ul>
    <%@sweet.vendors.each do |vendor|%>
        <li><%= link_to vendor.name, vendor_path(vendor)%></li>
    <%end%>
</ul>

<%= link_to "Back to Sweets", sweets_path%>

